@page "/tnt/home"
@inject AppState AppState
@inject NavigationManager NavigationManager
<PageTitle>Tanıtıcı</PageTitle>

<h3>Tanıtıcı Home</h3>

@code {
    [CascadingParameter] private UserStateProvider? USP { get; set; }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        if (parameters.TryGetValue<UserStateProvider>(nameof(USP), out var value))
        {
            if (value is null || value.UsrTyp != "T")
                NavigationManager.NavigateTo("");
            else
                await base.SetParametersAsync(parameters);  //Diger LifeCyle metodlarini cagiriyor
        }
    }


}
