
.selected {
    background-color: #1E88E5 !important;
}

.selected > td {
    color: white !important;
}

    .selected > td .mud-input {
        color: white !important;
    }

.mud-table-cell {
    padding: 2px 4px 2px 4px !important;
}

.mud-table-cell > .mud{
    padding: 2px 4px 2px 4px !important;
}

.mud-table-head > .mud-table-row > .mud-table-cell {
    color: red;
}

.mud-dialog-title {
    padding-bottom: 0 !important;
}
