@page "/mgz/home"
@inject AppState AppState
@inject NavigationManager NavigationManager
<PageTitle>Mağaza</PageTitle>

<h3>Mağaza Home</h3>

@code {
    [CascadingParameter] private UserStateProvider? USP { get; set; }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        if (parameters.TryGetValue<UserStateProvider>(nameof(USP), out var value))
        {
            if (value is null || value.UsrTyp != "M")
                NavigationManager.NavigateTo("");
            else
                await base.SetParametersAsync(parameters);  //Diger LifeCyle metodlarini cagiriyor
        }
    }
}
